
@media screen and (max-width: 900px) {
    .ant-menu { display: none;}
    .header { padding: 0 1.5rem !important;}
}

.header {
    width: 100%;
    font-size: 1rem;
    font-weight: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.header::after {
    position: absolute;
    content: '';
    display: block;
    border-bottom: 2px solid #f1f1f1;;
    left: 0;
    right: 0;
    bottom: -2px;
}

.header-content {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: relative;
}

.header-logo {
    position: absolute;
    font-size: 1.5rem;
    color: #1e90ff;
    text-align: left;
}
.header-text{
    margin-left: 2rem;
    display: inline-block;
    font-size: .6rem;
    color: #999;
    padding-left: 1rem;
}