@media screen and (max-width: 900px) {
    .home-nav { display: none;}
    .home-list { flex: 1;}
}


.home-content {
    width: 100%;
}

.home-section {
    width: 100%;
    display: flex;
}

.home-list {
    width: 100%;
    background-color: #fff;
}

/* .home-nav {
    margin-left: 1rem;
    flex: 1;
    border: 1px solid;
} */

.home-content-prompt {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
    width: 100%;
    color: #71777c;
    font-size: .8rem;
   
}