@import '~antd/dist/antd.css';
@media screen and (max-width: 900px) {
    .ant-menu { display: none;}
    .header { padding: 0 1.5rem;}
    .header-content {width: 100%;}
    .tag-content {width: 100%; padding: 0 1.5rem;}
    .site-layout-content {width: 95%}
    .detail-content-text {width: 100%}
}
* {
    display: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    max-width: 100vw;
    min-height: 100vh;
    
}

.App {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-color: #f0f2f5;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}